/* .App { */
  /* text-align: center; */
/* } */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.video-list{
  display: flex;
  gap: 1%;
}
.video {
  width: 20%;
  border: 1px solid #000;
  height: 100%;
}
.posts, .products{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:1%;
}
.post, .product{
  margin: 0 auto;
  border: 2px solid #000;
  width: 23%;
}
.post figure img{
  width: 100%;
}
.movies-list{
  display: flex;
  gap: 10px;
}
.movie {
  border: 2px solid green;
  background: beige;
  box-shadow: 0 4px 4px lightgray;
  filter: invert(1);
  width: 18%;
}
.company-resources{
  display: flex;
  gap: 10px;
}
.company-resource{
  border: 2px solid green;
  background: beige;
  box-shadow: 0 4px 4px lightgray;
  filter: hue-rotate(45deg);
  width: 18%;
}
.stationary-items{
  display: flex;
  gap: 10px;
}
.stationary {
  border: 2px solid yellow;
  background: beige;
  box-shadow: 0 4px 4px black;
  filter: grayscale(1);
  width: 18%;
}
button{
  align-items: center;
    appearance: none;
    background-color: #3EB2FD;
    background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    font-family: CircularStd, sans-serif;
    font-size: 1rem;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    padding: 6px 20px;
}